.epr-header {
  .epr-search-container {
    input {
      width: 100% !important;
      margin-bottom: 0 !important;
    }
    button {
      top: calc(50% - 8px) !important;
    }
  }
  .epr-category-nav {
    display: none;
  }
}